.full-height {height: 100%;}

.no-top-spacer {margin-top: 0;}
.half-top-spacer {margin-top: 10px;}
.top-spacer {margin-top: 20px;}

.no-spacer {margin-bottom: 0;}
.half-spacer {margin-bottom: 10px;}
.spacer {margin-bottom: 20px;}

.strong {font-weight: bold;}

.brand {color: #bad455;}

textarea {
  resize: vertical;
}

input.suppressed {
  display: inline-block;
  width: auto;
}

input.suppressed:not(:focus) {
  border: 0;
  padding: 0;
  box-shadow: none;
  border-bottom: dotted 1px #ddd;
  outline: 0;
}
